<app-menu [opcion]="usuario"></app-menu>
<div class="content">
  <h2>Gestión de usuarios <button mat-raised-button color="primary" (click)="add()"><mat-icon>add</mat-icon> Agregar</button></h2>
  <mat-progress-bar color="primary" mode="indeterminate" *ngIf="!cargando"></mat-progress-bar>

  <mat-form-field *ngIf="cargando" class="input-full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="cargando">
  
    <!-- Position Column -->
    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="clave">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editar(element)">Editar</button>
            <button mat-menu-item (click)="asignar(element)">Asignar</button>
          </mat-menu>  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>