<mat-card class="form-login">
  <img mat-card-image src="/assets/logo5.jpeg" alt="cotec">
  
  <mat-card-content>
    <form role="form" (submit)="ingresar()">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Usuario" required [(ngModel)]="user.usuario" name="usuario">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Contraseña" type="password" required [(ngModel)]="user.clave" name="clave">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="user.usuario.trim()=='' || user.clave.trim()==''">Ingresar</button>
    </form>
  </mat-card-content>
</mat-card>